
.home{
  
  top: 80%;
  left:50%;
  transform: translate(-50%,-40%);
  margin: 0 auto;
  width: 75vw;
  max-height: 70vh;
  position: absolute;
  float: 1px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgba(0,0,0,0.7) ;
  color: blanchedalmond;
  text-align: left;
  border: solid;
  border-radius: 3%;
  font-family: 'Jura', sans-serif;
  border-color:black;
}

.home111{

  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  margin: 0 auto;
  width: 75vw;
  position: absolute;
  float: 1px;
  display:flex;
  height: 95vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgba(0,0,0,0.7) ;
  color: blanchedalmond;
  text-align: left;
  border: solid;
  border-radius: 3%;
  font-family: 'Jura', sans-serif;
  border-color:black;
}



.ex{
  background: none;
  color:white;
}
.expense{
  text-transform: capitalize;
  font-weight: 900;
}
.btn{
  outline: white;
  color: blanchedalmond;
}
.cat{

  color: blanchedalmond;
}
.exp{
  background:rgba(0,0,0,0.8) ;
}
.header{
  background: no-repeat;
  position: relative;
  margin: 0px;
}

.div input{
color:white;
border: solid;
outline: none;
background: none;
}


.button:hover{
  color:red;
  border-color: red;
}
.buttoninput:hover{
  color:red;
  border-color: red;
}
.buttoninput:focus{
  border-color: red;
}

.total{
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: 600;
}
.sum{
  display: inline;
  color: rgb(255, 255, 0);
  margin-left:2px;
  margin-right: 2px;
  font-weight: 1200;
  font-size: 120%;
}

.expense1{
  
  margin-bottom: 8px;
  text-transform: capitalize;
  font-weight: 900;
}

@media screen and (max-width:1400px){
  .home{/*
    background-image: url(./images/786.jpg);
    background-size: cover;
    */
    min-height: 70vh;
    top: 80%;
    left:50%;
    transform: translate(-50%,-95%);
  }
}
@media screen and (max-width:500px){
  .date{
    margin-top: 3vh;
    
  }

  .datepicker{
    margin-top: 1vh;
   
  }

  .addyourexpwnse{
    margin-top: 1vh;
    margin-bottom:1vh ;
  }

  .inputexpense{
    
      margin-top: 1vh;
      margin-bottom:2vh ;
    
  }



  .button{
    margin-top: 2vh;
    margin-bottom:2vh ;
   
  }


  .home{
    width: 310px;
    max-height: 50vh;
    transform: translate(-50%,-80%);
    font-size: small;
  }
  .content{
    height: 50vh;
  }
  .expense1{
   font-size: xx-large;
    margin-bottom: 8px;
    text-transform: capitalize;
    font-weight: 900;
    text-align: center;
  }
  .home111{

    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    width: 75vw;
    position: absolute;
    float: 1px;
    display:flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:rgba(0,0,0,0.7) ;
    color: blanchedalmond;
    text-align: left;
    border: solid;
    border-radius: 3%;
    font-family: 'Jura', sans-serif;
    border-color:black;
    font-size: small;
  }
}

@media screen and (max-width:370px){
  .home{
    width: 310px;
    max-height: 50vh;
    transform: translate(-50%,-75%);
    font-size: small;
  }
  .home111{

    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    width: 75vw;
    position: absolute;
    float: 1px;
    display:flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:rgba(0,0,0,0.7) ;
    color: blanchedalmond;
    text-align: left;
    border: solid;
    border-radius: 3%;
    font-family: 'Jura', sans-serif;
    border-color:black;
    font-size: small;
  }
}

















